{% extends "layouts/BaseMajor.html" %}
{% load static %}

{% block title %}
 

{% endblock %}


{% block css %} 

 
{% endblock %}

{% block content %} 

<div class="course-area bg py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center mb-3">
            <h2 class="site-title mb-2">
              Explore Our <span>Courses</span>
            </h2>
            <p>
              It is a long established fact that a reader will be distracted
              by the readable.
            </p>
          </div>
        </div>
      </div> 
      <div class="row filter-box">
        {% for cour in object_list %}
        <div class="col-md-6 col-lg-6 col-xl-4 filter-item cat1 cat3 cat5">
          <div class="course-item">
            <span class="course-tag course-tag-1">{{cour.level}}</span>
            <div class="course-img">
              <a href="#"><img src="assets/img/course/01.jpg" alt="" /></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <span class="course-category course-category-1">{{cour.category}}</span>
              </div>
              <a href="{% url 'Long:CourseSingle' cour.id %}"><h4 class="course-title">
                {{cour.name}}
                </h4>
              </a>
              <div class="course-info">
                <ul>
                  <li class="course-lecture">
                    <i class="fad fa-book-open"></i>64 Lectures
                  </li>
                  <li class="course-duration">
                    <i class="fad fa-clock"></i>30 Hours
                  </li>
                  <li class="course-enrolled">
                    <i class="fad fa-user-friends"></i>40.7k Enrolled
                  </li>
                </ul>
              </div> 
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
      <div class="text-center">
        <nav>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
        
                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}>
                            <a href="?page={{i}}">{{ i }}</a>
                        </li>
                    {% endfor %}
        
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
      </div>
    </div>
  </div>

{% endblock %}


{% block extrajs %} 
 

 
{% endblock extrajs %}