{% extends "layouts/BaseMajor.html" %}
{% load static %}

{% block title %}
 

{% endblock %}


{% block css %} 

 
{% endblock %}

{% block content %} 


 

  <div class="category-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <h2 class="site-title">
              Browse with <span>top category</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <a href="{%url 'Long:Play'%}" class="d-block">
            <div class="category-item category-color-1">
              <div class="category-item-icon">
                <i class="fad fa-laptop-code"></i>
              </div>
              <div class="category-item-content">
                <h6>Development</h6>
                <span>2,579 Courses</span>
              </div>
            </div>
          </a>
        </div> 
      </div> 
    </div>
  </div>
 


{% endblock %}


{% block extrajs %} 
 

 
{% endblock extrajs %}