{% extends "layouts/BaseDashboard.html" %}
{% load static %}

{% block title %}
 

{% endblock %}


{% block css %} 

 
{% endblock %}

{% block content %} 
  
    
    <div class="state-overview">
        <div class="row">
            {% for cat in category %}
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box bg-blue">
                    <span class="info-box-icon push-bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{cat.name}}</span>
                        <span class="info-box-number">{{cat.count}}</span> 
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div> 
            {% endfor %}
        </div>
    </div>
 

{% endblock %}


{% block extrajs %} 
 

 
{% endblock extrajs %}