{% extends "layouts/BaseMajor.html" %} 

{% load static %} 

{% block title %} 

{% endblock %}

{% block css %} 

{% endblock %} 

{% block content %}

<div class="login-area py-120">
  <div class="container">
    <div class="col-md-5 mx-auto">
      <div class="login-form">
        <div class="login-header">
            <img src="/static/major/img/logo/logo.png" alt="logo"> 
        </div> 
          <div class="form-group">

            <div class="lockscreen-name"><h1>Se envió el restablecimiento de contraseña</h1></div>
            <h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el
                correo electrónico que ingresó. Deberías recibirlos en breve.</h5><br>
            <h6 style="width: 60%; margin: 0 auto">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección
                con la que se registró y verifique su carpeta de correo no deseado.</h6><br>
         
           
          </div>
          <div class="d-flex align-items-center">
            <a href="{% url 'Long:Login' %}" class="theme-btn">
              <i class="far fa-key"></i> Login       
            </a>
          </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block extrajs %} 

{% endblock extrajs %}
 






 
 