{% extends "layouts/BaseMajor.html" %} 

{% load static %} 

{% block title %} 

{% endblock %}

{% block css %} 

{% endblock %} 

{% block content %}

<div class="login-area py-120">
  <div class="container">
    <div class="col-md-5 mx-auto">
      <div class="login-form">
        <div class="login-header">
            <img src="/static/major/img/logo/logo.png" alt="logo">

          <p>reset your eduhub account password</p>
        </div>
        <form method="post">
            {% csrf_token %}
          <div class="form-group">
            {{ form }} 
          </div>
          <div class="d-flex align-items-center">
            <button type="submit" class="login-btn">
              <i class="far fa-key"></i> Send Reset Link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block extrajs %} 

{% endblock extrajs %}
 